._content {
  margin: 0;
  padding: 0;
  width: 452px;
  height: 420px;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: start;
  gap:40px;
}

._name {
  margin: 0;
  text-align: start;
}

._contacts-field {
  display: flex;
  flex-flow: column;
  gap:14px;
}

._phone {
  grid-area: phone;
  margin: 0;
  text-align: center;
}

._mail {
  grid-area: mail;
  margin: 0;
  text-align: center;
}

._icon {
  width: 24px;
  height: 24px;
}

._contact {
  display: flex;
  flex-flow: row;
  gap: 14px;
  justify-content: flex-start;
}

._contact-title {
  min-width: 160px;
}

._additional-info {
  display: flex;
  flex-flow: column;
  gap:12px;
}