._content {
  margin: 0;
  padding: 24px;
  box-sizing: border-box;
  width: var(--card-width);
  height: var(--card-height);
  background-color: white;
  display: grid;
  grid-template:
    'name' min-content
    '.' 26px
    'phone' min-content
    '.' 14px
    'mail' min-content
    / 100%;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 0px #0000001A;
}

._name {
  grid-area: name;
  margin: 0;
  text-align: start;
}

._phone {
  grid-area: phone;
  margin: 0;
  text-align: center;
}

._mail {
  grid-area: mail;
  margin: 0;
  text-align: center;
}

._icon {
  width: 24px;
  height: 24px;
}

._contact {
  display: flex;
  flex-flow: row;
  gap: 14px;
  justify-content: flex-start;
}


